 h3.home-content{
     font-size: 222%;
      text-align: center;
      margin-top: 4em;
      margin-bottom: 2em;
 }

 div#container{
      margin: 0 auto;
      height: 20em;
      min-width: 20em;
      max-width: 30em;
 }

 div.hot-data{
     text-align: center;
     margin-top: 2em;
 }
 .panel{
    margin-top: 2em;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}